FQDN={{ apps['plex']['subdomain'] }}.{{ fqdn['domain'] }}.{{ fqdn['tld'] }}
PLEX_CLAIM={{ plex_claim | default('') }}
IP_ADDRESS={{ ansible_host }}
UID={{ apps['plex']['system_uid'] }}
GID={{ ansible_facts['getent_group']['staff'][1] }}