FQDN=transmission.{{ fqdn['domain'] }}.{{ fqdn['tld'] }}
DOMAIN={{ fqdn['domain'] }}
TLD={{ fqdn['tld'] }}
USERNAME={{ apps['transmission']['username'] }}
PASSWORD={{ apps['transmission']['password'] }}
UID={{ getent_passwd['transmission'][1] }}
GID={{ getent_group['staff'][1] }}