FQDN={{ apps['transmission']['subdomain'] }}.{{ fqdn['domain'] }}.{{ fqdn['tld'] }}
DOMAIN={{ fqdn['domain'] }}
TLD={{ fqdn['tld'] }}
USERNAME={{ apps['transmission']['username'] }}
PASSWORD={{ transmission_password }}
UID={{ apps['transmission']['system_uid'] }}
GID={{ getent_group['staff'][1] }}