EMAIL_FROM={{ msmtprc['from'] }}
EMAIL_TO={{ email }}
EMAIL_SERVER={{ msmtprc['host'] }}
EMAIL_SERVER_PORT={{ msmtprc['port'] }}
EMAIL_SERVER_USER={{ msmtprc['user'] }}
EMAIL_SERVER_PASSWORD={{ msmtprc_password }}