defaults
auth           on
tls            on
logfile        /var/log/msmtp.log

account        {{ msmtprc['account'] }}
host           {{ msmtprc['host'] }}
port           {{ msmtprc['port'] }}
from           {{ msmtprc['from'] }}
user           {{ msmtprc['user'] }}
password       {{ msmtprc_password }}

account default : {{ msmtprc['account'] }}
